@model Privafo.Models.ViewModels.CityVM
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Upsert" asp-route-id="@Model.city.ID" onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="city.ID" />
            <div class="row mb-5">
                <div class="col-md-12">
                    <div class="form-group mb-3">
                        <label>Country</label>
                        <select id="country" asp-items="@Model.countryList" class="form-select">
                            <option disabled selected>--Select Country--</option>
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="city.ProvinceID"></label>
                        <select asp-for="city.ProvinceID" asp-items="@Model.provinceList" class="form-select">
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="city.CityName" class="control-label"></label>
                        <input asp-for="city.CityName" class="form-control">
                        <span asp-validation-for="city.CityName" class="text-danger"></span>
                    </div>                  
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-12" style="text-align:right">
                            <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@if (Model.countryId!=null){
<script>
    $(document).ready(function() {
        $("#country").val("@Model.countryId");
    });
</script>
}

<script>
    $('#country').change(function () {
                   var countryselect = $("#country").val();
                   var provinceSelect = $('#city_ProvinceID');
                   provinceSelect.empty();
                   if (countryselect != null && countryselect != '') {
                       $.getJSON('@Url.Action("GetProvince")', { country: countryselect }, function (libraries) {
                           if (libraries != null && !jQuery.isEmptyObject(libraries))
                           {
                               if(libraries.provinceList.length > 0){
                                   provinceSelect.append($('<option/>', {
                                       value: null,
                                       text: "--Select a Province--"
                                   }).each(function(){
                                       $(this).attr("selected", "selected");
                                       $(this).attr("disabled", "disabled");
                                     })
                                   );
                                   $.each(libraries.provinceList, function (index, library) {
                                       provinceSelect.append($('<option/>', {
                                           value: library.value,
                                           text: library.text
                                       }));
                                      });
                               }
                           };
                       });
                   }
           });
</script>