@model Privafo.Models.ViewModels.NavMenuVM
@using Microsoft.AspNetCore.Http
@using Privafo.Utility
@inject IHttpContextAccessor HttpContextAccessor

<ul class="metismenu" id="menu">	
	<li>
		<a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="@HttpContextAccessor.HttpContext.Session.GetInt32(SD.sesModule)">
			<div class="parent-icon"><i class='bx bx-home-alt'></i>
			</div>
			<div class="menu-title">Home</div>
		</a>
	</li>
	@{
		var currGroup = "";

		@foreach(var obj1 in Model.MenuLevel1)
		{
			@if(obj1.MenuGroup != null )
			{
				if(currGroup == ""){
					<li class="menu-label">@obj1.MenuGroup</li>

					currGroup = obj1.MenuGroup;
				}
				else
				{					
					if(obj1.MenuGroup != currGroup)
					{
					<li class="menu-label">@obj1.MenuGroup</li>

					currGroup = obj1.MenuGroup;
					}
				}
			}
			else
			{
				currGroup = "";
			}
			<li>
				@if(obj1.HasChild == false)
				{
					@if (obj1.PageName == "")
					{
						<a asp-area="@obj1.AreaName" asp-controller="@obj1.ControllerName" asp-action="@obj1.ActionName" asp-route-name="@obj1.MenuName" onclick="return theFunction('@obj1.MenuName');">
							<div class="parent-icon"><i class='@obj1.MenuImageClass'></i> </div>
							<div class="menu-title">@obj1.MenuName</div>
						</a>
					}
					else
					{
						<a asp-area="@obj1.AreaName" asp-page="@obj1.PageName">
							<div class="parent-icon"><i class='@obj1.MenuImageClass'></i> </div>
							<div class="menu-title">@obj1.MenuName</div>
						</a>
					}
				}
				else
				{
					<a href="javascript:;" class="has-arrow" >
						<div class="parent-icon"><i class='@obj1.MenuImageClass'></i> </div>
						<div class="menu-title">@obj1.MenuName</div>
					</a>
					<ul>
						@foreach(var obj2 in Model.MenuLevel2)
						{
							if (obj2.ParentID == obj1.ID)
							{
								<li> 
									@if (obj2.PageName == "")
									{
										<a asp-area="@obj2.AreaName" asp-controller="@obj2.ControllerName" asp-action="@obj2.ActionName" onclick="return theFunction('@obj2.MenuName');"><i class="bx @obj2.MenuImageClass"></i>@obj2.MenuName</a>
									}else{
										<a asp-area="@obj2.AreaName" asp-page="@obj2.PageName"><i class="bx @obj2.MenuImageClass"></i>@obj2.MenuName</a>
									}
								
								</li>
							}
						}
					</ul>
				}
			</li>
		}
	}
</ul>

<script type="text/javascript">
	 function theFunction(name) {
		//-------------METODE 1 belum tau cara nangkap parameternya di controller--------------
        //var request;  
        //if (window.XMLHttpRequest) {
        //    //New browsers.
        //    request = new XMLHttpRequest();
        //}
        //else if (window.ActiveXObject) {
        //    //Old IE Browsers.
        //    request = new ActiveXObject("Microsoft.XMLHTTP");
        //}
        //if (request != null) {
        //    var url = "/Home/SetSessionMenu";
        //    request.open("POST", url, false);
        //    var params = "{name: '" + name + "'}";
        //    request.setRequestHeader("Content-Type", "application/json");
        //    request.onreadystatechange = function () {
        //        if (request.readyState == 4 && request.status == 200) {
        //            alert(JSON.parse(request.responseText).d);
        //        }
        //    };
        //    request.send(params);
        //}

		fetch('/Home/SetSessionMenu',
			{
				method: 'post',
				headers: { 'Content-type': 'application/json' },
				body: JSON.stringify({ menuName: name })
			}
		).then(response => {
			response.json().then(data => {
				this.setState({ reqCheck: "" + response, didPush: false });
			})
		}).catch(err => {
			this.setState({ reqCheck: "Failure! (js)", didPush: false })
		});
    }
</script>